*.js
!jest.config.js
!frontend/*.js
!frontend/**/*.js
!backend/*.js
!backend/**/*.js
!itest/*.js
!itest/**/*.js
!content/*.js
!content/**/*.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

/*template*.yml

.DS_Store

.vscode
